#calculator_position{   /*计算器的位置*/
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#calculator_position h1{
	font-size: 42px;
	text-align: center;
	color: green;
	font-weight: bold;
}
#calculator_body{    /*计算器的本身*/
	width: 480px;
	height: 440px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	overflow: hidden;
}
#calculator_body ul{
	list-style: none;
	padding: 0px;
}
#monitor{         /*显示结果的块*/
	width: 435px;
	height: 35px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
#result{        /*显示结果*/
	width: 435px;
	height: 35px;
	font-size: 30px;
	font-weight: bold;
}
.keystroke_style{      /*按键的属性*/
	margin-left: 20px;
	border: 1px solid gray;
	margin-top: 3px;
	margin-bottom: 3px;
	background: #F0F0F0;
	/*#ecf0ea  */
	position: relative;
	float: left;
	width: 93px;
	height: 55px;
	padding-top: 10px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}
.keystroke_style:hover{  /*鼠标放到按键上面时的效果*/
	background: white;
}